@import "./Article-nth1.css";
@import "./Article-nth2.css";
/* ikke færdigstylet */

.article{
    background-color: #FFF;
    border-radius: 10px;
}

.article img{
    max-width: 100%;
}

.article__category{
    margin: 0;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.article__heading{
    color: #303336;
    margin: 0;
}

.article__text{
    color: #949CA6;
    margin: 0;
    font-size: 0.8rem;
}