.gallery{
    grid-area: 4/1/5/3;
}

.gallery>div{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}

.gallery__category{
    grid-area: 1/1/2/2;
}

.gallery__heading{
    grid-area: 2/1/3/2;
}

.gallery__text{
    grid-area: 3/1/4/2;
}

.gallery__image{
    grid-area: 1/1/-1/-1;
    border-radius: 10px;
}

.gallery>:nth-child(2),
.gallery>:nth-child(3),
.gallery>:nth-child(4){
    display: none;
}

.gallery img{
    max-width: 100%;
}