.latestNews{
    grid-area: 4/3/7/4;
    background-color: #FFF;
    border-radius: 10px;
}

.latestNews img{
    max-width: 200px;
}

.latestNews__heading{
    margin: 0;
    background-color: #3F51B5;
    color: #FFFEFE;
    font-size: 1rem;
    padding: 0.8rem 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.latestNews__moreNews{
    background-color: #FFF;
    color: #868F9A;
    border-top: 1px solid #EBEBEB;
    margin: 1rem 0 0 0;
    padding: 0.8rem 0 1rem 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

.latestNews__heading,
.latestNews__moreNews{
    text-transform: uppercase;
    text-align: center;
}

.latestNews>:nth-child(2)>:nth-child(2){
    color: #4BC26E;
}
.latestNews>:nth-child(3)>:nth-child(2){
    color: #0072CA;
}
.latestNews>:nth-child(4)>:nth-child(2){
    color: #DDAD5F;
}
.latestNews>:nth-child(5)>:nth-child(2){
    color: #FF7188;
}
.latestNews>:nth-child(6)>:nth-child(2){
    color: #2084D1;
}

.latestNews>:nth-child(7),
.latestNews>:nth-child(8),
.latestNews>:nth-child(9),
.latestNews>:nth-child(10),
.latestNews>:nth-child(11),
.latestNews>:nth-child(12),
.latestNews>:nth-child(13),
.latestNews>:nth-child(14),
.latestNews>:nth-child(15){
    display: none;
}