.tinyNews{
    grid-area:10/1/11/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.tinyNews>:nth-child(6),
.tinyNews>:nth-child(14){
    display: flex;
    flex-direction: column;
}

.tinyNews>:nth-child(6){
    background-color: #53BBB3;
}

.tinyNews>:nth-child(14){
    background-color: #358ED7;
}

.tinyNews>:nth-child(6)>:nth-child(1),
.tinyNews>:nth-child(14)>:nth-child(1){
    margin: 0 auto;
    max-height: 80px;
    margin-top: 0.5rem;
}

.tinyNews>:nth-child(6)>:nth-child(2),
.tinyNews>:nth-child(14)>:nth-child(2){
    text-align: center;
    color: #FFFEFE;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.2rem;
}

.tinyNews>:nth-child(1),
.tinyNews>:nth-child(2),
.tinyNews>:nth-child(3),
.tinyNews>:nth-child(4),
.tinyNews>:nth-child(5),
.tinyNews>:nth-child(7),
.tinyNews>:nth-child(8),
.tinyNews>:nth-child(9),
.tinyNews>:nth-child(10),
.tinyNews>:nth-child(11),
.tinyNews>:nth-child(12),
.tinyNews>:nth-child(13),
.tinyNews>:nth-child(15){
    display: none;
}